<html>
  <head>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
  </head>
  <body>
    <h1>Hello World</h1>
    <form action="/person" method="POST">
      First Name: <input type="text" id="firstname" name="firstname" /> <br />
      Last Name: <input type="text" id="lastname" name="lastname" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
